/**
 *	https://zmk.dev/docs/config/combos
 */

#define COMBO_(NAME, BINDINGS, KEYPOS, LAYERS, TERM, ...)	\
    combo_##NAME { 											\
        timeout-ms			= <TERM>; 						\
        bindings			= <BINDINGS>; 					\
        key-positions		= <KEYPOS>; 					\
        layers				= <LAYERS>; 					\
		__VA_ARGS__ 										\
    };

/ {
	combos {
		compatible = "zmk,combos";
		/*
		KEY POSITIONS
		╭────────────────────╮  ╭────────────────────╮
		│ 1   2   3   4   5  │  │ 6   7   8   9   10 │
		│ 13  14  15  16  17 │  │ 18  19  20  21  22 │
		│ 25  26  27  28  29 │  │ 30  31  32  33  34 │
		╰───────────╮ 37  38 │  │ 39  40 ╭───────────╯
					╰────────╯  ╰────────╯
		*/


		COMBO_(escape_2,	&kp ESC,			37	38,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(enter,		&kp ENTER,			39	40,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)

		COMBO_(escape_1,	&kp ESC,			13	25,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(lessthan,	&kp LT,				14	26,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(greaterthan,	&kp GT,				15	27,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		//COMBO_(,	&kp ESC,			16	28,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		//COMBO_(,	&kp ESC,			17	29,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)

		//COMBO_(under,		&kp UNDER,			18	30,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(minus,		&kp MINUS,			19	31,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(equal,		&kp EQUAL,			20	32,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(pipe,		&kp PIPE,			21	33,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(backspace,	&kp BSPC,			22	34,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)

		COMBO_(prev_tab,	&kp LC(LS(TAB)),	32	33,	DEFAULT COLEMAK,				CB_MINIMUM_SPEED)
		COMBO_(next_tab,	&kp LC(TAB),		33  34,	DEFAULT COLEMAK,				CB_MINIMUM_SPEED)

		COMBO_(exclamation,	&kp EXCL,			1	13,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(atsign,		&kp AT,				2	14,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(hash,		&kp HASH,			3	15,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(dollar,		&kp DOLLAR,			4	16,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(percent,		&kp PERCENT,		5	17,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(caret,		&kp CARET,			6	18,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(ampersand,	&kp AMPERSAND,		7	19,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(asterisk,	&kp ASTERISK,		8	20,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(under,		&kp UNDER,			9	21,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
		COMBO_(plus,		&kp PLUS,			10	22,	DEFAULT COLEMAK LOWER,			CB_MINIMUM_SPEED)
	};
};
