/**
 *
 */

/ {
  keymap {
    compatible = "zmk,keymap";

	lower_layer {
		label = "Lower";
   		bindings = <
//	╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	&kp CAPS		&kp HOME    	&kp PG_UP		&kp PG_DN		&kp END				XXXXXXXX		&kp N7			&kp N8       	&kp N9        	&kp N0
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	HM_LP LBKT		HM_LR RBKT    	HM_LM LBRC 		HM_LI RBRC		MOVE_LEFT			MOVE_RIGHT		&kp N4			&kp N5       	&kp N6			&td_sqt
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	&kp GRAVE		&kp TILDE    	&kp LPAR		&kp RPAR		XXXXXXXX			XXXXXXXX		&kp N1			&kp N2       	&kp N3			&kp BSLH
//	╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────╯
			       									________		________			________		&kp N0
//                                                  ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
			>;
		};
	};
};
